@import url("./assets/styles/common-components.css");

:root {
    --white: #FFFFFF;
    --white-blue: #EDF2F4;
    --navy-blue: #2B2D42;
    --blue-gray: #8D99AE;
    --red: #EF233C;
}

body, h1 {
    margin: 0;
}

input:focus {
    outline: none;
}
input[type='password'] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.125rem;
    color: var(--navy-blue);
}

@font-face {
    font-family: Inter-Black;
    src: url("./assets/fonts/Inter-Black.ttf");
}
@font-face {
    font-family: Inter-Bold;
    src: url("./assets/fonts/Inter-Bold.ttf");
}
@font-face {
    font-family: Inter-ExtraBold;
    src: url("./assets/fonts/Inter-ExtraBold.ttf");
}
@font-face {
    font-family: Inter-ExtraLight;
    src: url("./assets/fonts/Inter-ExtraLight.ttf");
}
@font-face {
    font-family: Inter-Light;
    src: url("./assets/fonts/Inter-Light.ttf");
}
@font-face {
    font-family: Inter-Medium;
    src: url("./assets/fonts/Inter-Medium.ttf");
}
@font-face {
    font-family: Inter-Regular;
    src: url("./assets/fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: Inter-SemiBold;
    src: url("./assets/fonts/Inter-SemiBold.ttf");
}
@font-face {
    font-family: Inter-Thin;
    src: url("./assets/fonts/Inter-Thin.ttf");
}