.default-title {
    font-family: "Inter-Bold";
    font-size: 24px;
    font-style: normal;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--navy-blue);
}

.default-button {
    display: block;
    border: none;
    border-radius: 8px;
    background-color: var(--red);
    color: var(--white);
    font-family: "Inter-SemiBold";
    font-size: 16px;
    line-height: 28px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.input-label {
    font-family: "Inter-SemiBold";
    font-size: 16px;
    line-height: 28px;
    color: var(--navy-blue);
    margin-bottom: 3px;
}
.input-field {
    width: 88%;
    height: 28px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px;
    font-family: "Inter-Regular";
    color: var(--navy-blue);
}

/* Sidebar menu */
.sidebar-menu-wrapper {
    width: 21%;
    box-shadow: 0px 2px 8px 0px rgba(30, 30, 30, 0.25);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
}
.logotype-wrapper {
    padding-top: 32px;
    margin-left: 40px;
}
.menu-actions-wrapper {
    margin-left: 40px;
}
.menu-action {
    font-family: 'Inter-Medium';
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: var(--blue-gray);
}
.menu-action:not(:last-child) {
    margin-bottom: 48px;
}
.menu-action > svg {
    margin-right: 24px;
}
.menu-action:hover {
    color: var(--navy-blue);
    cursor: pointer;
    font-family: 'Inter-Bold';
}
.logout {
    padding-bottom: 32px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    color: var(--blue-gray);
}
.logout:hover {
    color: var(--navy-blue);
    cursor: pointer;
    font-family: 'Inter-Bold';
}

/* Header */
.header-wrapper {
    height: 144px;
    display: flex;
    margin-bottom: 10px;
}

.search-bar-wrapper {
    position: relative;
    margin-top: 48px;
}
.search-icon {
    position: absolute;
    top: 29%;
    left: 5%;
    transform: translate(-50%, -50%);
}
.search-field {
    border: none;
    background-color: var(--white-blue);
    height: 48px;
    border-radius: 12px;
    box-shadow: 2px 2px 6px 0px rgba(30, 30, 30, 0.15);
    width: 647px;
    padding-left: 55px;
    font-family: "Inter-Regular";
    font-size: 16px;
    line-height: 19px;
    color: var(--blue-gray);
}
.profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
    width: 100%;
}
.notification-icon {
    margin-right: 31px;
}
.profile-image {
    width: 166px;
    height: 54px;
    background-color: var(--white-blue);
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-image > img {
    width: 55px;
    height: 52px;
    border-radius: 64px;
}
.profile-image > svg {
    margin-right: 10px;
}
.username {
    font-family: "Inter-Regular";
    font-size: 18px;
    line-height: 32px;
    color: var(--navy-blue);
}

/* Card */
.card-wrapper {
    display: flex;
    width: 261px;
    height: 96px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 4px 6px 0px rgba(161, 161, 161, 0.25);
    border-radius: 16px;
}
.card-icon {
    margin-left: 35px;
    margin-right: 20px;
}
.card-title {
    font-family: "Inter-Bold";
    color: var(--blue-gray);
    font-size: 16px;
    line-height: 28px;
}
.card-description {
    font-family: "Inter-Regular";
    color: rgba(188, 196, 209, 1);
    font-size: 14px;
    line-height: 24px;
}

/* Course */
.course-wrapper {
    height: 180px;
    background-color: var(--navy-blue);
    max-width: 947px;
    margin-bottom: 26px;
    border-radius: 12px;
}
.dropdown-arrow {

}
.course-details {

}
.course-name {

}
.course-flags {

}